language = "nodejs"
run = "yarn start"

[packager]
ignoredPackages=[
  "node:assert",
  "node:async_hooks",
  "node:buffer",
  "node:child_process",
  "node:cluster",
  "node:console",
  "node:constants",
  "node:crypto",
  "node:dgram",
  "node:dns",
  "node:domain",
  "node:events",
  "node:fs",
  "node:http",
  "node:http2",
  "node:https",
  "node:inspector",
  "node:module",
  "node:net",
  "node:os",
  "node:path",
  "node:perf_hooks",
  "node:process",
  "node:querystring",
  "node:readline",
  "node:repl",
  "node:stream",
  "node:string_decoder",
  "node:timers",
  "node:tls",
  "node:trace_events",
  "node:tty",
  "node:url",
  "node:util",
  "node:v8",
  "node:vm",
  "node:wasi",
  "node:worker_threads",
  "node:zlib",
]